# Add a second collaborator with write access for independent PR approval.
* @DiegoRamosCloud @SuporteKXC
/.github/ @DiegoRamosCloud  @SuporteKXC
/policies/ @DiegoRamosCloud  @SuporteKXC
/infra/ @DiegoRamosCloud  @SuporteKXC
