.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
*.tfvars
*.tfvars.json
tfplan
*.tfplan
tfplan.json
plan.txt
crash*.log
.env
.env.*
!.env.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
